body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-box {
    background-color:hsl(0, 0%, 100%);
    width: 260px;
    margin: auto;
    text-align: center;
    padding: 15px;
    box-shadow: 20px 30px 20px hsl(208, 42%, 86%);
    border-radius: 20px;
}

.card-box img {
    width: 260px;
    border-radius: 10px;
}

.card-box h1 {
    font-size: 20px;
    padding: 0px 10px;
    color: hsl(218, 44%, 22%);
}

.card-box p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}