@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  /*
  ~ another way to center the div
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  */
  margin: 2.15rem auto;
  padding: 0 2.15rem;
}

.card {
  max-width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  border-radius: 1.1rem;
  overflow: hidden;
}

img.card-img {
  /* the img will take 100% space of the parent */
  max-width: 100%;
  display: inherit;
}

.card-details {
  padding: 2.15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h6.product-category {
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  font-size: 0.94rem;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}

h2.product-brand {
  font-family: "Fraunces", serif;
  font-size: 2.85rem;
  line-height: 1em;
  color: hsl(212, 21%, 14%);
}
p.product-description {
  color: hsl(228, 12%, 48%);
  font-size: 1.2rem;
  line-height: 1.6em;
}

.price {
  display: flex;
  align-items: center;
}

p.current-price {
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  font-size: 1.8rem;
  padding-right: 1.8rem;
}
.old-price {
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}
.cta {
  background-color: hsl(158, 36%, 37%);
  border: none;
  padding: 1rem 0;
  border-radius: 0.85rem;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.cta img {
  padding-right: 0.5rem;
}

.cta:hover {
  background-color: hsl(158, 36%, 23%);
}

@media only screen and (max-width: 628px) {
  html {
    font-size: 10px;
  }
  .container {
    margin: 0.2rem auto;
  }

  .card {
    grid-template-columns: 1fr;
  }
  img.card-img {
    max-height: 35rem;
    min-width: 100%;
    object-fit: cover;
  }

  h6.product-category,
  h2.product-brand,
  p.product-description,
  .price {
    padding-bottom: 2rem;
  }
}
