/* 740px */
@media only screen and (max-width: 740px) {
  body {
    font-size: 12px;
    padding: 0 0;
  }

  .card-plan {
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }

  .card {
    width: 21rem;
    margin: 1.2rem 0;
  }
}
