@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  color: hsl(224deg, 23%, 55%);
  min-height: 100vh;
  background: hsl(225deg, 100%, 94%)
    url("../images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 50%;

  padding: 1rem 1.55rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1,
h2 {
  font-size: 100%;
  font-weight: normal;
  color: hsl(223deg, 47%, 23%);
}

img {
  height: auto;
  max-width: 100%;
}

.bg__img {
  background: url(../images/pattern-background-desktop.svg) no-repeat
    center/cover;
  height: 500px;

  /* to show it */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* to make it behind the card */
  z-index: -1;
}

.card {
  box-shadow: 0.063rem 0.063rem 3.125rem rgba(31, 47, 86, 0.12),
    0 0.063rem 0.125rem rgba(31, 47, 86, 0.24);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;

  max-width: 25.125rem;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1.25rem;
  margin: 1.2rem 0;
}

.card:hover {
  box-shadow: 0 0.875rem 1.75rem rgba(31, 47, 86, 0.25),
    0 0.625rem 0.625rem rgba(31, 47, 86, 0.22);
}

.card-img {
  width: 100%;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
  border-radius: 1.25rem 1.25rem 0 0;
}

.card:hover .card-img {
  opacity: 0.85;
}

.card-details {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.35rem;
  /*font-weight: 900;*/
}

.card-description {
  line-height: 1.5;
  margin: 1.125rem 0;
}

.card-plan {
  background-color: hsl(225deg, 100%, 98%);
  padding: 1.3rem;
  line-height: 1.25;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.75rem;
  margin-bottom: 2rem;
}

.card-purchase {
  /* to take the entire space */
  flex-grow: 1;
  text-align: left;
}

.btn {
  border: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.938rem;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.btn--link {
  padding: 0;
  background-color: transparent;
}
.btn--active {
  color: hsl(245deg, 75%, 52%);
  text-decoration: underline;
}
.btn--primary {
  display: block;
  width: 100%;
  color: hsl(0deg, 0%, 100%);
  padding: 0.95rem 1.5rem;
  margin-bottom: 1.5rem;
  background-color: hsl(245deg, 75%, 52%);
  border-radius: 0.7rem;
  box-shadow: 0 0.875rem 1.75rem rgba(31, 47, 86, 0.13),
    0 0.625rem 0.625rem rgba(31, 47, 86, 0.18);
}
.btn--secondary {
  color: hsl(224deg, 23%, 55%);
}

/* Hover */
.btn--primary:hover {
  background-color: #766cea;
  box-shadow: 0 0.875rem 1.75rem rgba(31, 47, 86, 0.25),
    0 0.625rem 0.625rem rgba(31, 47, 86, 0.22);
}

.btn--active:hover {
  color: #766cea;
  text-decoration: none;
}

.btn--secondary:hover {
  color: hsl(223deg, 47%, 23%);
}
